

body{
    background-image: url(/school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
   
    text-align: center;
    font-size: 400%;
    background-color:#1F1F1F;
 
    color: #f5f5f5;
    font-family: 'Noto Sans JP', sans-serif;
    

/* color: rgba(114, 104, 211, 0.8);

color:#3D3D3D; */


}

#forTabel {
    background-color: rgba(114, 104, 211, 0.8);
    width: 50%;
    margin-left: 40%;
    margin-top: -15%;
   
}
#forTabel table {
    font-family: 'Noto Sans JP', sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 27%;
    margin-top: -15%;
   
    
  }
  
  #forTabel  table tbody td, #forTabel th {
    border: 1px solid #3D3D3D;;
    padding: 8px;
  }
  

  
  #forTabel  table tbody tr:hover {background-color: #1F1F1F;}
  
  #forTabel table  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1F1F1F;
    color: white;
  }

  #forTabel table tr {

    background-color: #3D3D3D;
    color:#f5f5f5 ;

  }


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #1F1F1F;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:#1F1F1F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  
  
  #forForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 25%; 
    margin-top: 5%;
    background-color: rgba(114, 104, 211, 0.8);
  }
  
  footer {

   
    position: absolute;
    font-size: xx-large; 
 margin: 38%;
 margin-left:0%;
    background-color: black;
    color: #f2f2f2;
    width: 100%;
    text-align: center;
font-family: 'Open Sans', sans-serif;
  }